
<div class="note-wrapper">

  <!-- INPUT -->
  <div class="note-input-box">
    <input
      type="text"
      placeholder="Take a note..."
      [(ngModel)]="newNoteText"
      (keydown.enter)="createNote()"
    />
  </div>

  <!-- NOTES -->
  <div class="notes-container">

    <div *ngFor="let note of notes" class="note-card">
      <h3>{{ note.title }}</h3>

      <div class="divider"></div>

      <div *ngIf="note.items.length > 0" class="checklist">
        <span>
          {{ getCompletedCount(note) }} Completed items
        </span>

        <div *ngFor="let item of note.items">
          <div *ngIf="item.completed" class="item completed">
            ✔ {{ item.text }}
          </div>
        </div>
      </div>

    </div>

  </div>

</div>