/* SIDENAV CONTAINER */
.sidenav {
  width: 240px;
  height: 100vh;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  padding-top: 8px;
  transition: width 0.2s ease;
  overflow: hidden;
}

/* COLLAPSED STATE */
.sidenav.collapsed {
  width: 72px;
}

/* MENU BUTTON */
.menu-btn {
  padding: 12px 16px;
  cursor: pointer;
}

/* NAV ITEM */
.nav-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 16px;
  margin: 4px 0;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* ICON */
.material-symbols-outlined {
  font-size: 24px;
  color: #5f6368;
}

/* TEXT */
.text {
  font-size: 14px;
  color: #202124;
  white-space: nowrap;
}

/* HOVER EFFECT */
.nav-item:hover {
  background: #f1f3f4;
}

/* ACTIVE (Google Keep Yellow Highlight) */
.nav-item.active {
  background: #feefc3;
   border-radius: 0 25px 25px 0;
}

.nav-item.active .material-symbols-outlined {
  color: #202124;
}

/* SMOOTH TRANSITION */
.nav-item,
.material-symbols-outlined,
.text {
  transition: all 0.2s ease;
}