<div class="sidenav" [class.collapsed]="!expanded">

  <!-- MENU BUTTON -->
  <div class="menu-btn" (click)="toggle()">
    <span class="material-symbols-outlined">menu</span>
  </div>

  <!-- NAV ITEMS -->
  @for (item of navItems; track item.name) {
    <div 
      class="nav-item"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">

      <!-- ICON -->
      <span class="material-symbols-outlined">
        {{ item.icon }}
      </span>

      <!-- TEXT (only when expanded) -->
      @if (expanded) {
        <span class="text">{{ item.label }}</span>
      }

    </div>
  }

</div>